*{margin:0;
padding:0;}

h1 {text-align:center;}

.calc-all{
margin:0 auto;
 max-width:350px;
 text-align:center;
 box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
 transition:0.2s;
 margin-top:20px;
 font-size:0;
}

.calc-all:hover{
 box-shadow:0 16px 32px 0 rgba(0,0,0,0.2);
}

.calc-head #input-box{
width:335px;
height:70px;
font-size:32px;
font-weight:bold;
text-align:right;
padding:0 5px;
letter-spacing:3px;

}
.btn{width:87px;
height:70px;
font-weight:bold;
font-size:16px;
background-color:#1f2326;
color:white;
}

.right{background-color:#5f4bb6;}

.style{background-color:orange;}
.btn:hover {background-color:cyan;
color:white;}